<div class="user-form">
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="userService.currentUser.firstName"/>
    </div>
    <div class="col-md-6 form-group">
      <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="userService.currentUser.lastName"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <input type="text" class="form-control" placeholder="Career" [(ngModel)]="userService.currentUser.career"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="text" class="form-control" placeholder="Age" [(ngModel)]="userService.currentUser.age"/>
    </div>
    <div class="col-md-6 form-group">
      <input type="text" class="form-control" placeholder="Nationality" [(ngModel)]="userService.currentUser.nationality"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-success btn-block btn-lg" (click)="createAndUpdate(userService.currentUser)">
        <i class="fa fa-save"></i> Save User
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-info btn-block btn-lg" (click)="resetUser()">Reset</button>
    </div>
  </div>
</div>